{% extends "./../main.html.twig" %}


{% block main %}
<section class="container-fluid">
<div class="row">
<article class="col-lg-8 ticket">
<div class="row">
{% include '.././template/template_ticket.html.twig' %}
</div>
</article>

<article class="col-lg-4 ">
<div class="aside2 mt-3 mb-3">
<p class="text-center">TICKETS SELECTIONNES</p>
<div id="tickets_container"></div>
</div>
</article>
</section>
</div>

{% endblock %}
